@use "GeneralStyles" as Variables;

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Revolution&display=swap");

body {
  #News {
    padding: 5% 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;

    hr{
      margin-top: 1rem;
      border-left: solid black 1px;
      border-radius: 10%;
    }

    #NewsContent {
      padding: 1rem;
      

      .carousel {
        width: 100%;
        position: relative;
      
        .carousel-inner {
          display: flex;
          padding: 1rem 3rem;
        }
      
        .carousel-control {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: transparent;
          border: none;
          font-size: 24px;
          cursor: pointer;
          z-index: 1;
        }
      
        .prev {
          left: 0;
        }
      
        .next {
          right: 0;
        }
      }
      
      .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      
      .carousel-indicator {
        width: 10px;
        height: 10px;
        background-color: rgb(161, 161, 161);
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
      
        &.active {
          background-color: black;
        }
      }

      .slide{
        margin-top: 1.5rem;
        .Card {
          border-radius: 5%;
          width: 65rem;
          display: flex;
          height: 24rem;

          .ImgContainer {
            width: 50%;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            img {
              display: block;
              position: relative;
              width: 100%;
              height: 100%;
              transition: transform 0.3s ease-in-out;
              z-index: -1;
            }

            #AnimeNews1 {
              border-radius: 5% 0 0 5%;
            }

            #MangaNews1 {
              border-radius: 0 5% 5% 0;
            }

            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 50%;
              background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.7)
              );
              opacity: 0;
              transition: opacity 0.5s ease-in-out;
            }

            &:hover::before {
              opacity: 1;
            }

            &:hover img {
              transform: scale(1.2);
            }
          }

          .TextContainer {
            padding: 1rem 2rem;
            width: 100%;

            #infoA,
            #infoM {
              display: flex;
              gap: 2rem;
              padding: 0.5rem 0;
            }

            #TitleAnime,
            #TitleManga {
              font-size: 1.3rem;
              padding-bottom: 0.5rem;
            }

            p {
              margin-bottom: 2rem;
            }

            a {
              border-radius: 5%;
              padding: 0.5em;
              margin-right: 1rem;
              background-color: rgb(0, 0, 0);
              color: white;
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: blue;
              }
            }

            #ReadA,
            #ReadM {
              border-top: 1px solid black;
              padding: 1rem 0;
              margin-top: 3.5rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }

        #Card1 {
          margin-bottom: 2rem;
          box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.7);
          > .TextContainer {
            background: linear-gradient(to right, rgb(186, 186, 186), white);
          }
        }

        #Card2 {
          box-shadow: 5px 5px 12px black;
          > .TextContainer {
            background: linear-gradient(to left, rgb(186, 186, 186), white);
          }
        }
      }
    }
  }
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
