/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Protest+Revolution&display=swap");
:root {
  --bg-navbar: $bg-navbar;
  --text-colornavbar: $text-colornavbar;
  --text-colornavbarHover: $text-colornavbarHover;
  --text-Home: $text-Home;
  --text-color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  color: black;
}

@media (max-width: 1920px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 140%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 10rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: black;
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li a i {
    vertical-align: middle;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li ul {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transition: max-height 0.4s ease-in-out;
  }
  body .header ul li ul li.active,
  body .header ul li ul li :hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
  }
  body .header ul li > ul {
    width: 16rem;
  }
}
@media (max-width: 1440px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 10rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: black;
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li a i {
    vertical-align: middle;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li ul {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transition: max-height 0.4s ease-in-out;
  }
  body .header ul li ul li.active,
  body .header ul li ul li :hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
  }
}
@media (max-width: 1367px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 10rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: black;
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li a i {
    vertical-align: middle;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li ul {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transition: max-height 0.4s ease-in-out;
  }
  body .header ul li ul li.active,
  body .header ul li ul li :hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
  }
}
@media (max-width: 1280px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 10rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: black;
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li a i {
    vertical-align: middle;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li ul {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transition: max-height 0.4s ease-in-out;
  }
  body .header ul li ul li.active,
  body .header ul li ul li :hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
  }
}
@media (max-width: 1025px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 7rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: black;
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li a i {
    vertical-align: middle;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li ul {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transition: max-height 0.4s ease-in-out;
  }
  body .header ul li ul li.active,
  body .header ul li ul li :hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
  }
}
@media (max-width: 769px) {
  body .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: black;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    z-index: 100;
  }
  body .header #logo {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 7rem;
    overflow: hidden;
  }
  body .header #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
  body .header #menu-icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header #menu-icon:hover {
    background-color: white;
    color: black;
  }
  body .header #menu-icon.active {
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    width: 100%;
  }
  body .header #headernavbar #navbar #nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: flex;
  }
  body .header ul {
    list-style-type: none;
    background-color: black;
    border-radius: 0 0 5% 5%;
    gap: 1rem;
  }
  body .header ul li {
    position: relative;
  }
  body .header ul li a {
    color: white;
    border-radius: 0 0 5% 5%;
    width: 100%;
    padding: 0.8rem;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  body .header ul li a i {
    vertical-align: middle;
  }
  body .header ul li.active {
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
    background-color: white;
  }
  body .header ul li.active > a {
    color: black;
  }
  body .header ul li ul {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    transition: max-height 0.4s ease-in-out;
  }
  body .header ul li ul li.active,
  body .header ul li ul li :hover {
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: black;
  }
  body .header #headernavbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.7s ease-in-out;
  }
  body .header #headernavbar #navbar #nav-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  body .header #headernavbar #navbar #nav-container #navbar-nav,
  body .header #headernavbar #navbar #nav-container #navbar-user {
    display: block;
    width: 100%;
  }
  body .header ul {
    border-radius: 0;
  }
  body .header ul li a {
    border-radius: 0;
  }
  body .header ul li ul {
    position: static;
    width: 100%;
  }
}
@media (max-width: 1920px) {
  body #Home {
    color: white;
    margin-top: 5.5rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 46.6rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 80rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 700px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 140%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 35rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
  body #Home #images #ImgAnime {
    width: 80%;
    left: 20%;
  }
}
@media (max-width: 1440px) {
  body #Home {
    color: white;
    margin-top: 5.5rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35.6rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 38rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 500px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 100%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 27rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
}
@media (max-width: 1367px) {
  body #Home {
    color: white;
    margin-top: 5.5rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35.6rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 38rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 500px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 100%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 27rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
}
@media (max-width: 1280px) {
  body #Home {
    color: white;
    margin-top: 5.5rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35.6rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 38rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 500px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 100%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 27rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
}
@media (max-width: 1025px) {
  body #Home {
    color: white;
    margin-top: 3.8rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 25rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 380px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 75%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 22rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
}
@media (max-width: 769px) {
  body #Home {
    color: white;
    margin-top: 3.8rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 300px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 75%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 18rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
  body #Home {
    padding: 0 2%;
  }
}
@media (max-width: 425px) {
  body #Home {
    color: white;
    margin-top: 4.3rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 26rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 340px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 75%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 18rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
  body #Home p {
    text-align: center;
  }
  body #Home #fondo {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
  }
  body #images {
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-38%) scale(1.2);
    }
    100% {
      transform: translateX(8%) scale(1.2);
    }
  }
}
@media (max-width: 320px) {
  body #Home {
    color: white;
    margin-top: 4.3rem;
    padding: 0 8%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 24rem;
    overflow: hidden;
  }
  body #Home #fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
    animation: slideBackground 8s infinite alternate;
  }
  body #Home #HomeContain {
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: relative;
  }
  body #Home #HomeContain #Text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #Home #HomeContain #Text #logo {
    width: 300px;
  }
  body #Home #HomeContain #Text #info {
    font-family: "Poppins", sans-serif;
    padding: 0 2rem;
    font-size: 70%;
    font-weight: 600;
  }
  body #Home #HomeContain #Text #info p {
    padding-bottom: 2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    width: 18rem;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input,
  body #Home #HomeContain #Text #info #Suscribe button {
    font-size: 100%;
    border: none;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  body #Home #HomeContain #Text #info #Suscribe input i,
  body #Home #HomeContain #Text #info #Suscribe button i {
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  body #Home #HomeContain #Text #info #Suscribe input {
    width: 100%;
    outline: none;
  }
  body #Home #HomeContain #Text #info #Suscribe button {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.8rem 0.8rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  body #Home #HomeContain #Text #info #Suscribe button:hover {
    background-color: rgb(81, 81, 81);
  }
  body #Home #images {
    width: 100%;
    height: 100%;
    position: relative;
  }
  body #Home #images #ImgAnime {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    display: flex;
    justify-content: center;
    transform: skew(-20deg);
    overflow: hidden;
  }
  body #Home #images #ImgAnime img {
    width: auto;
    height: 100%;
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-6%) scale(1.2);
    }
    100% {
      transform: translateX(6%) scale(1.2);
    }
  }
  body #Home #fondo {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
  }
  body #images {
    display: none;
  }
  @keyframes slideBackground {
    0% {
      transform: translateX(-38%) scale(1.2);
    }
    100% {
      transform: translateX(8%) scale(1.2);
    }
  }
}
body #News {
  padding: 5% 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}
body #News hr {
  margin-top: 1rem;
  border-left: solid black 1px;
  border-radius: 10%;
}
body #News #NewsContent {
  padding: 1rem;
}
body #News #NewsContent .carousel {
  width: 100%;
  position: relative;
}
body #News #NewsContent .carousel .carousel-inner {
  display: flex;
  padding: 0 3rem;
}
body #News #NewsContent .carousel .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}
body #News #NewsContent .carousel .prev {
  left: 0;
}
body #News #NewsContent .carousel .next {
  right: 0;
}
body #News #NewsContent .slide {
  margin-top: 1.5rem;
}
body #News #NewsContent .slide .Card {
  border-radius: 5%;
  width: 65rem;
  display: flex;
  height: 24rem;
}
body #News #NewsContent .slide .Card .ImgContainer {
  width: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
body #News #NewsContent .slide .Card .ImgContainer img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}
body #News #NewsContent .slide .Card .ImgContainer #AnimeNews1 {
  border-radius: 5% 0 0 5%;
}
body #News #NewsContent .slide .Card .ImgContainer #MangaNews1 {
  border-radius: 0 5% 5% 0;
}
body #News #NewsContent .slide .Card .ImgContainer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
body #News #NewsContent .slide .Card .ImgContainer:hover::before {
  opacity: 1;
}
body #News #NewsContent .slide .Card .ImgContainer:hover img {
  transform: scale(1.2);
}
body #News #NewsContent .slide .Card .TextContainer {
  padding: 1rem 2rem;
  width: 100%;
}
body #News #NewsContent .slide .Card .TextContainer #infoA,
body #News #NewsContent .slide .Card .TextContainer #infoM {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
}
body #News #NewsContent .slide .Card .TextContainer #TitleAnime,
body #News #NewsContent .slide .Card .TextContainer #TitleManga {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
body #News #NewsContent .slide .Card .TextContainer p {
  margin-bottom: 2rem;
}
body #News #NewsContent .slide .Card .TextContainer a {
  border-radius: 5%;
  padding: 0.5em;
  margin-right: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 0.3s ease-in-out;
}
body #News #NewsContent .slide .Card .TextContainer a:hover {
  background-color: blue;
}
body #News #NewsContent .slide .Card .TextContainer #ReadA,
body #News #NewsContent .slide .Card .TextContainer #ReadM {
  border-top: 1px solid black;
  padding: 1rem 0;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #News #NewsContent .slide #Card1 {
  margin-bottom: 2rem;
  box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.7);
}
body #News #NewsContent .slide #Card1 > .TextContainer {
  background: linear-gradient(to right, rgb(186, 186, 186), white);
}
body #News #NewsContent .slide #Card2 {
  box-shadow: 5px 5px 12px black;
}
body #News #NewsContent .slide #Card2 > .TextContainer {
  background: linear-gradient(to left, rgb(186, 186, 186), white);
}/*# sourceMappingURL=Styles.css.map */